<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                    
               
                    <h2 class="text-center py-3 text-info">Edit Category</h2>
                    <input type="text" class="form-control border-dark" [(ngModel)]="category.name"  placeholder="Enter category">
                    <br>
                    <input type="text" class="form-control border-dark" [(ngModel)]="category.amount"  placeholder="Enter amount">
                    <br>
                    <button type="submit" (click)="editbutton()" class="btn btn-success px-5" style="font-size: 20px;" name="submit">Save</button>
                
            </div>
        </div>
    </div>
</body>
