
<carousel (activeSlideChange)="log($event)" [interval]="5000" class="d-none d-lg-block">
      <slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="image slide" style=" width: 100%;" class="">
     
        <div class="carousel-caption">
          <h4>Slide {{index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
   
<div class="container">
  <div class="row">
    <div class=" welcome col-lg-12 col-12">
        <h2 class="text-center my-5">Hii {{udata}}{{google.displayName}}</h2>
        <h3>Welcome to Ai finenses. we are provide expenses managment</h3>
    </div>
 </div>
</div>