
    <nav class="navbar navbar-expand-lg navbar-light row" style="background-color: rgb(55, 97, 177); height: 10%;">
        <a class="navbar-brand col-lg-2" href="#"><img src="..\assets\image\ai logo.png" alt="logo not found"></a>
        
        <div class="collapse navbar-collapse col-lg-8" id="navbarNav">
          <ul class="navbar-nav px-3" style="font-size: 20px; font-style: bold;">
            <li class="nav-item active px-2">
              <a class="nav-link" routerLink="/Home/">Home </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" routerLink="/managecontrol/expence-summary">Expences summ.</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" routerLink="/managecontrol/manage-catagories">Manage Categories</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" routerLink="/managecontrol/mange-expences">Manage Expences</a>
              </li>
            </ul>
            
              
            </div>
            <div class="col-lg-1 text-right">
              <a class="nav-link btn btn-light" routerLink="/auth">login</a>

            </div>
            <div class="col-lg-1 text-right">
              <a class="nav-link btn btn-light" (click)=logout()>logout</a>
         
        </div>
      </nav>
<router-outlet></router-outlet>