 
      <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" color-on-scroll="500" >
        <a class="navbar-brand"><img src="..\assets\image\ai logo.png" alt="logo not found"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 px-2" style=" font-style: bold; ">
            <li class="nav-item px-3 active">
              <a class="nav-link text-light text-center text-uppercase" routerLink="/managecontrol"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
           
            <li class="nav-item px-3 ">
              <a class="nav-link text-light text-center text-uppercase" routerLink="/managecontrol/manage-catagories">Manage Categories</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light text-center text-uppercase" routerLink="/managecontrol/mange-expences">Manage Expenses</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light text-center text-uppercase" routerLink="/managecontrol/expence-summary">Expenses Summary</a>
            </li>
          </ul>
          <div class="text-center" style="align-items: center;">
            <form class="form-inline my-1 mx-5 text-uppercase" style="font-style: bold; margin-left: 50%;">
              <a class="nav-link btn btn-outline-secondary text-light" (click)=logout()><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a>
            </form>
          </div>
        </div>
      </nav>
<router-outlet></router-outlet> 
