
<body>  
    <div class="container">
                <form class=" row" #userdata="ngForm" (ngSubmit)="onSubmit(userdata.value)">
                       <div class="col-lg-2 my-5"></div>
                        <div class=" bg-light my-5 col-lg-4 col-12 left-box">
                            <h1>Sign Up</h1>
                    
                            <input type="text" ngModel class="form-control" name="user name" placeholder="user name">
                            <br>
                            <input type="text" ngModel class="form-control" name="e-mail" placeholder="e-mail">
                            <br>
                            <input type="password"  ngModel class="form-control" name="password" placeholder="password">
                            <br>
                            <input type="password" ngModel class="form-control" name="password" placeholder="Retype password">
                            <br>
                            <button class="btn btn-success" type="submit" routerLink="/auth/sign-in" name="signup-button">Sign Up</button>
                            <br>
                        </div>
                        
                        <br>
                        <div class=" bg-light my-5 right-box col-lg-4 col-12">
                            <span class="signinwith">Sign in with<br/>Social Network</span>
                            <br>
                            <button class="social facebook">Log in with Facebook</button>
                            <br>
                            <button class="social twitter">Log in with twitter</button>
                            <br>
                            <button class="social google">Log in with Google</button>

                        </div>
                        <div class="col-lg-2 my-5"></div>
                            
                        <!-- <div class="or">OR</div> -->
                    
                </form>
            </div>
        
</body>