<div class="expensecss">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-12 text-center" style="margin-top: 40px;">
            <button type="submit" routerLink="/managecontrol/mange-expences/add-expences" class="btn btn-dark" name="addcategory">Add Expences</button>
        </div>
        
        <div class="col-lg-12 col-12 py-4">
          <div class="table-responsive">
          <table class="table table-striped bg-light col-12">
            <thead class="text-center">
              <tr>
                <th scope="col"></th>
                <th scope="col">Category</th>
                <th scope="col">Expense</th>
                <th scope="col">Date</th>
                <th scope="col">amount</th>
                <th scope="col">Peyment Type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of items,let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.category}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date | date :'longDate'}}</td>
                <td><i class="fa fa-rupee"></i> {{item.amount}}</td>
                <td>{{item.peytype}}</td>
                <td><button type="submit" class="btn btn-primary mx-3" routerLink="/managecontrol/mange-expences/edit-expences/{{item.id}}" ><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                <td><i><button type="submit" class="btn btn-danger fad fa-trash-alt mx-4" (click)="deletebutton(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button> </i></td>
              </tr>
              
            </tbody>
           
          </table>
        </div>
        </div>
        
      </div>
    </div>
  </div>
      