<body>
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-12 text-center ">
            <button type="submit" routerLink="/Home/mange-expences/add-expences" class="btn btn-dark" name="addcategory">Add Expences</button>
        </div>
        
        <div class="col-lg-12 col-12 py-4">
          <div class="table-responsive">
          <table class="table table-striped bg-light col-12">
            <thead class="text-center">
              <tr>
                <th scope="col"></th>
                <th scope="col">Categeroies</th>
                <th scope="col">amount</th>
                <th scope="col">Edit categories</th>
                <th scope="col">Delete category</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of items,let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td><button type="submit" class="btn btn-primary" routerLink="/Home/mange-expences/edit-expences/{{i}}" >Edit</button></td>
                <td><button type="submit" class="btn btn-danger" (click)="deletebutton(i)" >Delete</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        </div>
        
      </div>
    </div>
    </body>
      
      <!-- <router-outlet></router-outlet> -->