.expensecss{
    background: url(E:\anguler\finesses\src\assets\image\pexels-photo-164686.jpeg);
    background-size: cover;
    height: 150vh;
}
table{
    box-shadow:  2px 2px 10px 10px cornflowerblue;
    border-radius: 2px;
    
    
}