<div class="expensecss">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                    
                <div class="bg-light text-center p-4 form">
                    <h2 class="text-center py-3 text-info">Add Expenses</h2>
                    <label class="px-1 font-weight-bold">Categories:</label>
                    
                    <select [(ngModel)]="expense.category" class="px-5 border-dark">
                    <option *ngFor="let category of categories,let i=index" value="{{category.name}}">{{category.name}}</option>
                    </select>
                    <br>
                    <input type="text" [(ngModel)]="expense.name" class="form-control border-dark" name="add" placeholder="Enter Expense">
                    <br>
                    <input type="date" [(ngModel)]="expense.date" class="form-control border-dark" name="date" placeholder="Enter date">
                    <br>
                    <input type="number" [(ngModel)]="expense.amount" class="form-control border-dark" name="amount" placeholder="Enter Amount">
                    <br>      
                    <select [(ngModel)]="expense.peytype" name="peytype" placeholder="Select PaymentType" class="form-control">
                        <option selected value="Cash">Cash</option>
                        <option value="Paytm">Paytm</option>
                        <option value="Phonepe">PhonePe</option>
                        <option value="Google pay">Google Pay</option>
                        <option value="Bank">Bank</option>
                      </select>
                      <br>
                    <button type="submit" (click)="addbutton()" class="btn btn-success px-5" style="font-size: 20px;" name="submit"><i class="fa fa-plus" aria-hidden="true">&nbsp;Add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>