

.expensecss{
    font-family: sans-serif;
    background: url(E:\anguler\finesses\src\assets\image\2.png);
    background-size: cover;
    height: 100vh;
    

}
.form{
    border-radius: 1px;
    box-shadow:  2px 2px 8px 8px cornflowerblue;
    margin-top: 25%
    
}