
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(55, 97, 177); height: 80px;">
    <a class="navbar-brand"><img src="..\assets\image\ai logo.png" style="height: 60px; width: 100px;" alt="logo not found"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-light uk-text-bold">Login</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 px-2" style="font-size: 20px; font-style: bold;">
        <li class="nav-item px-2 active">
          <a class="nav-link text-light text-center" routerLink="/auth"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-center" routerLink="/auth/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
        </li>
      </ul>
      
    </div>
  </nav>