<div class="container">
    <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2 class="text-center text-monospace my-3 text-info">Summary About Your Expences</h2>
        <label class="text-secondary text-monospace">Select Category</label>
        <select (change)="onsubmitcat($event)" class="form-control bg-dark text-light">
          <option></option>
          <option *ngFor="let item of category" value="{{item.name}}">
            {{item.name}} 
          </option>
        </select>
        <br>
        <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr.no</th>
            <th scope="col">Expenses</th>
            <th scope="col">Date</th>
            <th scope="col">$ pay</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of summary,let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.date | date :'longDate'}}</td>
            <td>$ {{item.amount}}</td>
          </tr>
          <tr class="bg-dark text-light">
            <td colspan="3" class="text-center">Totle Amount</td>
            <td>$ {{sum}}</td>
          </tr>
        </tbody>
        <!-- <tfoot>
            <tfoot>
                <th colspan="3">Totle</th>
                <th>{{ item | SumColumn: 'amount'}}</th>
              </tfoot>
        </tfoot> -->
      </table>
    </div>
    </div>
      <div class="col-lg-2"></div>
    </div>
</div>