.summarycss{
   
    background-image: url(E:\anguler\finesses\src\assets\image\business-documents-accounting-with-calculator-pen-magnifying-glass_34152-663.jpg);
    background-size: cover;
    height: 100vh;
}
